.footer {
  height: 100px;
  background-color: beige;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adres {
  height: 100px;
  background-color: rgb(92, 92, 92);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerbox {
  margin-top: 200px;
}
.section {
  margin-top: 200px;
}
